.box {
  display: inline-block;
  border: 2px grey solid;

}


#container {
  display: block;
  border: 2px black solid;
  border-radius: 5px;
  font-size: 0;
  margin: 10px auto;
}
.hover {
  background-color: black;
}

.food {
  background-color: blue;
}

.white {
  background-color: white;
}

.right-border, .left-border, .top-border, .bottom-border {
  background: red;
  border: 2px red solid;

}
